<header>
    <nav class="navbar navbar-default jd-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="jd-brand">
               <a class="navbar-brand" routerLink="/">ADMIN <span class="right">- DASHBOARD</span></a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right header-links">
            <li *ngIf="authService.isLoggedIn()">
                <a routerLink="home"><i class="fa fa-user">&nbsp;</i>The User Name</a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
                <a (click)="logout()" class="jd-cursor">
                    <i class="fa fa-sign-out">&nbsp;</i>Logout
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
 <router-outlet></router-outlet>
