.jd-cursor{
    cursor: pointer;
}

.jd-page-header{
  color: lighten($brand-a, 60%); font-weight: bold; font-size: 20px; margin-bottom: 4px;
  text-transform: capitalize;
  overflow: hidden;
  padding: 5px 0;

  }
 .left-panel{
     width: 14%; min-height: 480px; display:inline; float: left;
     border-right: 1px solid $brand-b;
     padding-top: 20px;
     .statistics{
         margin: 0 10px;
         border-bottom: 1px solid lighten($brand-a, 80%);
     }
     ul{
         list-style: none;
         margin-left: 2px; padding: 5px;
         li{
             margin-top: 5px;
             a{
                 text-decoration: none;
                 display: block;
                 &:hover{
                     border-right: 3px solid $brand-d;
                 }
             }
         }
     }
 }
 .right-panel{
     width: 86%; display:inline; float: left;
      padding-top: 20px;
 }
.jd-border-bottom{
    border-bottom: 1px solid #fcfcfc;
}
.jd-margin-top{
    margin-top: 10px;
}
.jd-well-bg{
    @include jdRadius();
   background-color: lighten($brand-c, 30%); color: lighten($brand-a, 40%);
   border: 0 solid lighten($brand-a, 40%);
  .header{
      color: darken($brand-c, 30%); font-size: 16px; font-weight: bold;
  }
}
