.jd-cursor{
    cursor: pointer;
}

.jd-page-header{
  color: lighten($brand-a, 60%); font-weight: bold; font-size: 20px; margin-bottom: 4px;
  text-transform: capitalize;
  overflow: hidden;
  padding: 5px 0;

  }
  .employees-list{
      list-style: none;
      margin: 0; padding: 0;
      li{
          margin-top: 5px;
          a{
              text-decoration: none;
              display: block;
              &:hover{
                  border-right: 3px solid $brand-d;
              }
          }
      }
  }
  .icon-right{
      float: right;
  }
  .text-bold{
      font-weight: bold;
  }
.jd-border-bottom{
    border-bottom: 1px solid #fcfcfc;
}
.jd-margin-top{
    margin-top: 10px;
}
.jd-well-bg{
    @include jdRadius();
   background-color: lighten($brand-c, 100%); color: lighten($brand-a, 40%);
   border: 1px solid lighten($brand-a, 80%);
  .header{
      color: lighten($brand-a, 60%); font-size: 16px; font-weight: bold;
  }
}
.jd-padding-margin-0{
    padding: 0 !important; margin: 0 !important;
}
.jd-bg-a{
    background-color: orange;
}
.jd-bg-c{
    background-color: $brand-c;
}
.jd-bg-d{
    background-color: $brand-d;
}
.jd-bg-r{
    background-color: red;
}
.jd-min-height{
  min-height: 460px !important;
}
