<div *ngIf="employee">
    <div class="row">
    <div class="col-sm-4 col-md-4">
         <img src="http://www.racebase.world/static-assets/images/avatars/avatar_0001_unknown.png"
              alt="" class="img-rounded img-responsive" />
      </div>
      <div class="col-sm-8 col-md-8">
          <blockquote>
              <p>{{employee.user.id}}. {{employee.user.first_name}} {{employee.user.last_name}}</p>
              <small>
                  <cite title="Position">{{employee.position.level}} {{employee.position.name}}</cite>
              </small>
          </blockquote>
          <p>
              <i class="glyphicon glyphicon-envelope"></i> {{employee.user.email}}<br/>
              <i class="glyphicon glyphicon-phone"></i> {{employee.phone_number}}<br/>
              <i class="fa fa-github"></i> {{employee.github_user}}<br />
              <i class="fa fa-calendar"></i> {{employee.birth_date}} <span class="label label-warning">{{employee.age}} Years</span><br/>
              <i class="fa fa-birthday-cake"></i> <span class="label label-info">{{employee.days_to_birthday}} days left</span>
          </p>
           <hr/>
           <p>
               <span>Is Staff </span><span class="text-success text-bold">{{getIsStaff(employee.user.is_staff)}}</span><br/>
               <span>Is Active </span><span class="text-success text-bold">{{getIsActive(employee.user.is_active)}}</span><br/>
               <span>Year Worked </span><span class="text-success text-bold">{{employee.years_worked}}</span><br/>
               <span>Gender </span><span class="text-success text-bold">{{getGender(employee.gender)}}</span><br/>
               <span>Race </span><span class="text-success text-bold">{{getRace(employee.race)}}</span><br/>
           </p>
      </div>
</div>
</div>
<div *ngIf="!employee">
    <div class="text-danger" role="alert">
        Select an employee to view profile
    </div>
</div>
