<div class="panel panel-default">
  <div class="panel-heading text-bold">Dashboard
      <span class="icon-right"><i class="fa fa-bar-chart"></i></span>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
        <a>
            Total Employees <span class="badge jd-bg-a icon-right">{{employeeService.getEmployeesCount()}}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a>
            Females <span class="badge jd-bg-r icon-right">{{employeeService.getFemalesCount()}}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a>
            Males <span class="badge jd-bg-d icon-right">{{employeeService.getMalesCount()}}</span>
        </a>
    </li>
  </ul>
</div>
<div class="panel panel-success">
  <div class="panel-heading text-bold">Positions
      <span class="icon-right"><i class="fa fa-tasks"></i></span>
  </div>
  <ul class="list-group"  *ngIf="employeeService.getPositionsCount()">
    <li class="list-group-item" *ngFor="let pos of employeeService.getPositionsCount() | keys">
        <a>{{pos}} <span class="badge jd-bg-c icon-right">{{employeeService.getPositionsCount()[pos]}}</span></a>
    </li>
  </ul>
  <div class="alert arlert-warning" *ngIf="!employeeService.getPositionsCount()">
      No positions found
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-bold">Birthdays this Month
      <span class="icon-right"><i class="fa fa-birthday-cake"></i></span>
  </div>
  <ul class="list-group" *ngIf="employeeService.getBirthDaysThisMonth()">
    <li class="list-group-item" *ngFor="let bd of employeeService.getBirthDaysThisMonth() | keys">
        <a>{{bd}}</a>
    </li>
  </ul>
  <div class="alert arlert-warning" *ngIf="!employeeService.getBirthDaysThisMonth()">
      No birthdays found
  </div>
</div>
