<div class="container-fluid">
    <div class="row jd-main">
        <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading text-bold">Employees
                  <span class="icon-right"><i class="fa fa-group"></i></span>
              </div>
              <div class="panel-body">
                  <ul *ngIf="!loadingData" class="employees-list">
                      <li *ngFor="let emp of employees">
                          <a class="jd-cursor" (click)="onSelectEmployee(emp)">
                              <i class="fa fa-user-circle-o fa-2x"></i>
                               {{emp.user.first_name}} {{emp.user.last_name}}
                           </a>
                      </li>
                  </ul>
                  <div *ngIf="loadingData" class="tex-info text-center">
                      <i class="fa fa-spinner fa-spin"></i>loading...
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-8">
            <app-employee [employee]="selectedEmployee"></app-employee>
        </div>
        <div class="col-md-2">
            <app-dashboard></app-dashboard>
        </div>
    </div>
</div>
