<div class="row col-md-12 jd-main">
    <div class="row ">
        <div class="col-md-2 left-panel">
            <ul *ngIf="!loadingData">
                <li *ngFor="let emp of employees">
                    <a class="jd-cursor" (click)="onSelectEmployee(emp)">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                         {{emp.user.first_name}} {{emp.user.last_name}}
                     </a>
                </li>
            </ul>
            <div *ngIf="loadingData" class="text-danger"><i class="fa fa-spinner fa-spin"></i>loading data...</div>
        </div>
        <div class="col-md-10 right-panel">
            <app-employee [employee]="selectedEmployee"></app-employee>
        </div>
    </div>
</div>
